#todo-container__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-inline: 20px;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-inline: unset;
  }
}

#todo-container__product,
#todo-container__count,
#todo-container__submit,
#todo-container__update {
  padding: 0 15px;
  border-radius: 10px;
  margin-bottom: 15px;

  @media (min-width: 768px) {
    flex-direction: row;
    width: 30%;
    margin-bottom: unset;
  }
}

#todo-container__product,
#todo-container__count {
  border: px solid #121618;

  &:focus {
    outline: 1px solid #121618;
  }
}

#todo-container__submit {
  background-color: #121618;
  color: #fff;
  border: 0;
  cursor: grabbing;
  
  &:hover {
    background-color: #3f4143;
  }
}

#todo-container__update {
  display: none;
  background-color: #121618;
  color: #fff;
  border: 0;
  cursor: grabbing;
  
  &:hover {
    background-color: #3f4143;
  }
}
