.todo-container__table {
  width: 100%;

  thead {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    tr {
      th {
        padding: 20px 10px;
        text-align: left;
        font-size: 14px;
        font-weight: 600;
        color: #333;
      }
    }
  }
}