#todo-container__table {
  width: 100%;

  thead {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    tr {
      th {
        padding: 10px 20px;
      }
    }
  }
}

#todo-container__table-body {
  margin-top: 10px;
  text-align: center;

  td {
    padding: 10px 20px;

    span {
      cursor: pointer;
    }
  }
  
  tr {
    background-color: #e3e3e3;
  }
}