* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 980px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 25px;
}

section {
  border: 1px solid #ababab;
  min-height: 100px;
  border-radius: 5px;
}

footer {
  text-align: center;
  margin-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

form select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

form button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
}

table thead tr th {
  padding: 0.5rem;
  text-align: left;
  background-color: #333;
  color: #fff;
  text-align: center;
}

table tbody tr td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid #ccc;
  text-align: center;
}